/* Stile generale */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #F6B26B 10%, #F9CB9C 10%, #F9CB9C 90%, #F6B26B 90%);
    min-height: 100vh;

    /* Assicura che l'altezza copra tutta la pagina */
}

.carousel {
    display: flex;
    justify-content: center;
    /* Allinea orizzontalmente */
    align-items: center;
    /* Allinea verticalmente */
}

.carousel-inner img {
    margin: 0 auto;
    /* Centra le immagini del carousel */
}

/* Contenitore principale della pagina */
.container-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* L'altezza totale della pagina sarà almeno quella della finestra */
}

/* Contenuto principale */
#main-content {
    flex: 1;
    /* Occupa lo spazio rimanente sopra il footer */
}

/* Stile del footer */
footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
}


aside {
    width: 250px;
    /* Larghezza della barra laterale */
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* Scorrimento verticale per contenuti lunghi */
    flex-shrink: 0;
    /* La larghezza resta fissa */
}

.notifications-list {
    max-width: 800px;
    margin: 0 auto;
}

.card.border-primary {
    border-left: 4px solid #0d6efd;
}