/* Stile generale */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #F6B26B 10%, #F9CB9C 10%, #F9CB9C 90%, #F6B26B 90%);
    min-height: 100vh; /* Assicura che l'altezza copra tutta la pagina */
}

.carousel {
    display: flex;
    justify-content: center; /* Allinea orizzontalmente */
    align-items: center; /* Allinea verticalmente */
}

.carousel-inner img {
    margin: 0 auto; /* Centra le immagini del carousel */
}





